

<script type="text/javascript">

function showProgressBar() {
    $("#exampleModal").modal();
}

function hideProgressBar () {
    $("#exampleModal").modal('hide');
 }


</script>

<!-- Modal -->
<div class="modal fadeIn fadeOut" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Wait</h5>
        
      </div>
      <div class="modal-body">
        <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  style="width: 100%"></div>
</div>
      </div>
     </div>
     </div>
     
    </div>
  
