body {

	font-size: 14px;
	font-weight: normal;
	display: block;
	padding-top: 100px;
}

.table-responsive {
	display: contents;
	width: max-content;
	overflow-x: visible;
}

table.dataTable {
	width: max-content;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;

	text-align: center;
	
	border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before
	{
	margin-left: -3px;
	content: "";
	border-width: 5px 5px 0;
}



$
enable-shadows: true ;





label {
	padding-left: 1px;
	padding-right: 1px;
}

.row {
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;
}

.lead {
	font-size: 18px;
	font-weight: bolder;
}

.table td, .table th {
	padding: .1rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.report-collapse {
	
}

.table td {
	font-size: 14px;
	font-weight: 100;
	padding: .1rem;
	margin: 0 0 0 0px;
	padding: .1rem;
}

.table th {
	font-size: 14px;
	font-weight: bolder;
	padding: .1rem;
	margin: 0 0 0 0px;
	padding: .1rem;
}

.card-heading {
	font-weight: bold;
}

.card-table {
	padding: .1rem;
	margin: 0 0 0 0px;
}

.card-table td {
	font-size: 14px;
	font-weight: 100;
	padding: .1rem;
	margin: 0 0 0 0px;
	padding: .1rem;
}

.card-table th {
	font-size: 14px;
	font-weight: bold;
	padding: .1rem;
	margin: 0 0 0 0px;
	padding: .1rem;
}

.report-wrapper-table {
	font-family:
		"font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;";
	font-size: 18px;
	border: 5px;
}

.report-wrapper-table table {
	
}

.report-wrapper-table tr {
	font-size: 16pt;
	page-break-after: auto;
}

.reportTitle {
	font-size: 18px;
	font-weight: bolder;
	width: 100%;
	align-self: center;
	text-align: center;
	text-decoration: underline;
}

.newclass {
	font-size: 100px;
}

.report-table th {
	font-size: 18px;
}

.report-table {
	padding: .1rem;
	margin: 0 0 0 0px;
	border: 4;
	width: 100%
}

.report-table td {
	font-size: 18px;
	font-weight: 100;
	width: 30%
}

.report-table td {
	page-break-after: auto;
}

.report-table td:first-child {
	width: 10%;
}

.tableBelowReport { .report-table;
	font-size: 18px;
	width: 100%;
	text-align: justify;
}

div .card {
	margin: 10 5 5 5px;
}

.card-body {
	padding: 0px;
}

.navbar-nav .nav-link {
	background: #f3f4f5;
	color: black;
	font-size: 15px;
	font-weight: 500;
}

.loader {
	border-top: 16px solid blue;
	border-bottom: 16px solid blue;
}

.modal-lg {
	max-width: 80% !important;
}

.modal-dialog {
	max-width: 700px;
	margin: 1.75rem auto;
}

.app-title {
	font-size: 15px;
	font-weight: bold;
}

.sub-title {
	font-size: 12px;
	font-weight: bold;
}

header {
	background: white;
	fixed-top;
}

nav { 
	.fixed-top;
	.sticky-top;
	
}
.top-navbar{
	height: 100px;
}
.navbar-brand
{
	width:100px;
	height: 100px;
	margin: 100px 100px 100px 100px;
	padding: 100px 100px 1000px 100px;
}
.navbar-brand>img
{
	width:60px;
	height: 50px;
	
}

#searchBar {
	position: relative;
}

.card-img-top {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%
}

.card-img-report {
	width: 30px;
	height: 30px;
}

.orderText {
	font-size: 11.0pt;
	font-family: "Times New Roman", "serif";
}

.orderDateRow {
	font-size: 11.0pt;
	font-weight: bolder;
	font-family: "Times New Roman", "serif" ';
	border-bottom: 2px;
	border-top: 2px;
}

.orderAddress1 {
	font-size: 18.0pt;
	font-weight: bolder;
	font-family: "Times New Roman", "serif" ';
	align: center;
}

.orderAddress2 {
	font-size: 11pt;
	font-family: "Times New Roman", "serif" ';
	align: center;
}

.orderAddress3 {
	font-size: 14.0pt;
	font-family: "Times New Roman", "serif" ';
	align: center;
}

.orderAddress4 {
	font-size: 14.0pt;
	font-weight: bolder;
	font-family: "Times New Roman", "serif" ';
	align: center;
}

.orderAddress5 {
	font-size: 11.0pt;
	font-weight: bolder;
	font-family: "Times New Roman", "serif" ';
}

.custom-breadcrumb {
	list-style: none;
	overflow: hidden;
}

.custom-breadcrumb li {
	text-decoration: none;
	padding: 10px 0 10px 50px;
	position: relative;
	display: block;
	float: left;
}

.custom-breadcrumb li:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 2;
}

.custom-breadcrumb li:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}


.current {
	
}

td {
	color: black;
}

.dropdown-menu {
	font-size: 13px;
	font-weight: bold;
}
.container {
    width: 100%;
    padding-right: 10px; 
    padding-left: 10px; 
    margin-right: 8px;
    margin-left: 8px;;
}
#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}