<style type="text/css">
.style_29 {
	border: thin solid black;
}

.style_28 {
	margin-left: 0pt;
	height: 16.625in;
	width: 7.719in;
}

.style_25 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	margin: 0pt;
	padding: 0pt 1pt;
	border: thin none black;
	text-indent: 0em;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_24 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-top: thin none black;
	border-right: thin solid black;
	border-bottom: thin none black;
	border-left: thin none black;
}

.style_27 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	margin: 0pt;
	padding: 1pt;
	border: medium none black;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_26 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	margin: 0pt;
	padding: 1pt;
	border: medium none black;
	text-indent: 0em;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_8 {
	font-weight: bold;
	font-size: medium;
}

.style_6 {
	font-size: 12pt;
}

.style_7 {
	margin-left: 0pt;
	width: 7.708in;
}

.style_0 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	text-indent: 0em;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_21 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	border: thin none black;
}

.style_1 {
	margin-left: 0pt;
	width: 7.688in;
}

.style_20 {
	border: none black;
}

.style_23 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-top: thin none black;
	border-right: thin none black;
	border-bottom: thin none black;
	border-left: thin solid black;
}

.style_22 {
	font-weight: bold;
	font-size: 10pt;
	padding-top: 3pt;
	padding-bottom: 0pt;
	border: none black;
}

.style_4 {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 15pt;
}

.style_5 {
	font-family: times;
}

.style_3 {
	height: 1.031in;
	width: 1.167in;
}

.style_39 {
	border-top: none black;
	border-bottom: none black;
}

.style_36 {
	border-top: thin none black;
	border-right: thin solid black;
	border-bottom: thin none black;
	border-left: thin solid black;
}

.style_35 {
	font-weight: bold;
	font-size: medium;
}

.style_38 {
	padding: 0pt;
	border-top: none black;
	border-right: thin solid black;
	border-bottom: none black;
	border-left: thin solid black;
}

.style_37 {
	border-top: none black;
	border-right: thin solid black;
	border-bottom: none black;
	border-left: thin solid black;
}

.style_32 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 11pt;
	color: black;
	margin: 0pt;
	padding: 1pt;
	border: medium none black;
	text-indent: 0em;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_31 {
	font-weight: bold;
	font-size: 11pt;
}

.style_34 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	margin: 0pt;
	padding: 1pt;
	border-right: thin solid black;
	border-left: thin solid black;
	text-indent: 0em;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_30 {
	font-weight: bold;
	font-size: 10pt;
}

.style_47 {
	margin-left: 0pt;
}

.style_46 {
	font-weight: bold;
	border: thin solid black;
}

.style_48 {
	font-weight: bold;
	font-size: 12pt;
}

.style_43 {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: medium;
}

.style_42 {
	font-family: monospace;
	border: thin solid black;
}

.style_45 {
	font-family: "Times New Roman";
}

.style_44 {
	font-weight: bold;
}

.style_40 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 10pt;
	color: black;
	margin: 0pt;
	padding: 1pt;
	border: thin solid black;
	text-indent: 0em;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_17 {
	padding: 0pt 1pt;
	border-top: none black;
	border-right: thin solid black;
	border-bottom: none black;
	border-left: none black;
}

.style_19 {
	margin-left: 0pt;
	border-bottom: thin solid black;
	width: 7.729in;
}

.style_14 {
	border-top: thin solid black;
	border-right: none black;
	border-bottom: none black;
	border-left: none black;
}

.style_13 {
	font-family: serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 10pt;
	color: black;
	margin: 0pt;
	padding: 3pt 1pt 0pt;
	border: medium none black;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	white-space: normal;
	line-height: normal;
}

.style_16 {
	border: thin none black;
}

.style_15 {
	padding: 0pt 1pt;
	border-top: none black;
	border-bottom: none black;
	border-left: thin solid black;
}

.style_12 {
	padding: 0pt 1pt;
	border: none black;
}

.style_11 {
	margin-left: 0pt;
	border-top: none black;
	border-right: none black;
	border-bottom: thin solid black;
	border-left: none black;
	height: 1.531in;
	width: 7.719in;
}
</style>